@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase



<PageTitle>Home</PageTitle>


<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; background-color: #f0f4f8;">
    <AuthorizeView>
        <NotAuthorized>
            <div class="text-center">
                <h2 class="mb-4" style="color: #333;">Welcome to Your Workout Planner</h2>
                <p class="mb-4" style="color: #555;">Log in or create an account to have your very own workout plan created and reach your fitness goals!</p>
                <div class="d-grid gap-2 d-md-block">
                    <NavLink class="btn btn-outline-primary" href="/Account/Login" Match="NavLinkMatch.Prefix">Login</NavLink>
                    <NavLink class="btn btn-outline-success" href="/Account/Register" Match="NavLinkMatch.Prefix">Register</NavLink>
                   
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

<main class="container">
    <div class="p-4 rounded" style="background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        @Body
    </div>
</main>

@code{

    private void GoToPlan()
    {
        NavigationManager.NavigateTo("/plan");
    }

    private void GoToLogin()
    {
        NavigationManager.NavigateTo("/Account/Login");
    }

    private void GoToRegister()
    {
        NavigationManager.NavigateTo("Account/Register");
    }
}


